#nav {
	width:1500px;
	margin:0 auto;
	list-style:none;
	font-size: 19px;
}

#nav li{
	float:left;
}

#nav a{
	display:block;
	text-align:center;
	width:300px;
	text-decoration:none; 
}

a:link {
	color: #c0c0c0;
	font-family: Helvetica;
	text-decoration: none;
}

a:hover {
	color:;
}

a:visited {
	color: #c0c0c0;
}

body {
	font-family: Helvetica;
	background-color:#FFFFFF;
	color:#595959;
}

img {
	margin-left: 1px;
	margin-right: 1px;
	width: 1000px;
	height: 1290px;
	display: block;
}

p {
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
	font-family: Helvetica;
	color: #595959;
}
