body {
	text-align: center;
	font-family: Helvetica;
	background-color:#000000;
	color:#c0c0c0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

li {
    display: inline;
}

footer p{
	font-family: Helvetica;
}
