a:link {
	color: #c0c0c0;
	font-family: Helvetica;
	text-decoration: none;
}

a:hover {
	color:;
}




body {
	text-align: center;
	font-family: Helvetica;
	background-color:#000000;
	color:#c0c0c0;
}

ul {
	list-style-type: none;
    	margin: 0;
	padding: 0;
    	display: inline-block;
    	font-size: 18px;
}

li {
	margin: 1em 0;
	display: inline;
}

footer p{
	font-family: Helvetica;
}
